################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Payroll/bin/Debug
/Payroll/obj/Debug
/Payroll/Payroll.Test/bin/Debug
/Payroll/Payroll.Test/obj/Debug
